@import "assets/colors.scss";

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    top: 10px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

html {
  overflow-x:hidden;

  body {
    margin: 0;
    padding: 0;
    color: white;
    overflow-x:hidden;
  }
  textarea, button, input, pre {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    box-sizing: border-box; 
  }
  input, textarea {
    padding: 5px;
  }
  textarea {
    resize: vertical;
    min-height: 2em;
  }
  pre {
    white-space: pre-wrap;
    margin: 0px;
  }
  button {
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: $theme-color;
    color: white;
    padding: 7px 10px;
    outline: none;
    user-select: none;
  }
}

.Pixie {
  margin: 0px auto;

  a {
    color: white;
  }

  button {
    box-shadow: 5px 5px rgba(0,0,0,.5);
    margin-bottom: 1em;
    font-size: 1.25em;

    &.link-button {
      border: none;
      background: none;
      color: white;
      text-decoration: underline;
      box-shadow: none;
      padding: 0;
      font-size: 1em;
    }
  }
  
  header {
    color: white;
    text-align: center;
    margin-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;
    
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
      text-shadow: 3px 3px $shadow-color;
    }
    h2 {
      font-size: 1.25em;
      text-shadow: 3px 3px $shadow-color;
    }
    p {
      text-shadow: 0 0 3px $shadow-color;
    }
  }

  .content {
    margin: 0 auto 40px auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 510px;
    text-align: center;

    .distractor {
      font-size: 2em;
      text-shadow: 3px 3px $shadow-color;
    }

    .viewer {
      animation: appear 1s;

      #canvas {
        box-shadow: 5px 5px rgba(0,0,0,.5);
        cursor: pointer;
        display: block;
        margin: 0 auto 2em auto;
      }
    }

    .editor {
      animation: appear 1s;

      .Board, .Palette {
        margin-bottom: 1em;
      }
    }
  }

  .Popup {
    #about-canvas {
      border: 1px solid black;
    }
  }
}